doctype html
html
  head
    title Monique Lee Piano | 88 Keys
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Abel')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  body
  block header
    div#container
      div#title
        p 
          span#titlep1 monique lee 
          span#titlep2 piano

            
      div.header
        ul
          if (path === '/')
            li(class='active')
              a(href='/') #{__('menu.home')}
          else
            li(class='inactive')
              a(href='/') #{__('menu.home')}

          if (path === '/about')
            li(class='active')
              a(href='/about') #{__('menu.about')}
          else
            li(class='inactive')
              a(href='/about') #{__('menu.about')}

          if (path === '/recordings')
            li(class='active')
              a(href='/recordings') #{__('menu.recordings')}
          else
            li(class='inactive')
              a(href='/recordings') #{__('menu.recordings')}

          if (path === '/blog')
            li(class='active')
              a(href='http://blog.monique-lee-piano.com') #{__('menu.blog')}
          else
            li(class='inactive')
              a(href='http://blog.monique-lee-piano.com') #{__('menu.blog')}

          if (path === '/contact')
            li(class='active')
              a(href='/contact') #{__('menu.contact')}
          else
            li(class='inactive')
              a(href='/contact') #{__('menu.contact')}
  block body

  block footer
    div#footer 
      div#left © 2014 Monique Lee Piano
      div#right
        .langs
          ul
            li 
              a(href='/setlocale/zh') 繁體中文 
            li 
              / 
            li 
              a(href='/setlocale/en') english